# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
ENV/
env/
.venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Model & large data files
*.h5
*.hdf5
*.pb
*.tflite

# Firebase key
firebase_key.json

# Environment variables
.env

# VSCode settings (optional)
.vscode/

# System files
.DS_Store
Thumbs.db

node_modules/
api-server/firebase-key.json
